* {
  margin: 0;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 1080px;
  height: 1920px;
  /* border: 1px solid rgb(0, 0, 0, 0.1); */
}

/* .header {
    background-image: url('/images/logo.svg');
} */

/* .figma { */
/* justify-content: right; */
/* margin-left: 50%;
  margin-bottom: 40px; */
/* } */

.figma img {
  /* width: 100px; */
  /* height: 100px; */
  margin-left: 600px;
  margin-bottom: 30px;
}

.igm1 {
  width: 1080px;
}

.menu {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  display: flex;
  width: 100%;
  height: 92px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  /* border-right: 1px solid rgb(0, 0, 0, 0.1); */
  /* border-left: 1px solid rgb(0, 0, 0, 0.1); */
}

.menu a {
  display: flex;
  width: 720px;
  height: 100%;

  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: black;
  /* border: 1px solid rgb(0, 0, 0, 0.1); */
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #393939;
  color: white;
}

.menu-second {
  display: flex;
  width: 100%;
  height: 100px;
}

/* .menu-second a:hover {
  background: transparent;
  box-shadow: inset 90px 0 0 0 var(--btn-bg);
} */

.menu-second a {
  width: 100%;

  /* padding-top: 35px;
  padding-bottom: 30px; */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* .menu-second a img {
  position: relative;
  z-index: 1;
  transition: 0.3s;
} */

/* .menu-second a slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 0; 
  transition: transform 0.3s;
  transform: translateX(
    -100%
  ); 
} */

.menu-second a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(205, 205, 205);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.tabImg {
  position: absolute;
  z-index: 10;
}

.menu-second a:hover:before {
  transform: translateX(0);
}

/* .tab1:hover { */
/* background-color: rgba(245, 171, 139, 0.5); */
/* border-radius: 70%; */
/* height: 60px; */
/* width: 100px; */
/* display: flex; */
/* margin-top: auto; */
/* margin-bottom: auto; */
/* border: 1px solid rgba(245, 171, 139, 0.5); */
/* box-shadow: 0 0 20px 10px #f5ab8b; */
/* outline: none; */
/* filter: blur(50px); */
/* } */

.homeimg {
  width: 100%;
  height: 100%;

  display: flex;
  background-image: url(./images/HomeTab.png);
  background-size: cover;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.font-bold {
  font-family: "NanumSquareNeo";
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
}

.paddingleft {
  padding-top: 44px;
  padding-left: 44px;
}

.paddingleft h1 {
  font-size: 24px;
  padding-top: 20px;
}

video {
  height: 944px;
  width: 416px;
  object-fit: cover;
  outline: none;
}

.bg-text {
  width: 664px;
  height: 355px;
  /* margin-left: 1px; */
  background-size: 100%;
  background-image: url(./images/back.jpg);
  flex-direction: column;
  display: flex;
}

.bg-text h1 {
  /* font-family: "NanumSquareNeo"; */
  font-weight: bold;
  font-style: normal;
  color: white;
  padding-left: 66px;
  padding-top: 53px;
  font-size: 30px;
}

.bg-text span {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-top: 20px;
  margin-left: 70px;
  letter-spacing: 1px;
}

.bg-text button {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  width: 211px;
  height: 44px;
  font-size: 16px;
  background-color: rgb(0, 0, 0, 0.1);
  border: 2px solid white;
  color: white;
  fill: none;
  margin-top: 55px;
  margin-left: 350px;
  cursor: pointer;
  transition: 0.5s;
}

.bg-text button:hover {
  background-color: white;
  color: black;
  opacity: 0.8;
}

.paddingleft h1 {
  font-family: "NanumSquareNeo";
  font-weight: bolder;
  margin-bottom: 40px;
  font-size: 30px;
}

.paddingleft span {
  line-height: 35px;
  font-size: 20px;
}

.span2 {
  font-weight: bold;
}

.margintop {
  margin-top: 50px;
  margin-left: 50px;
}

.mts {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  width: 263px;
  height: 73px;
  bottom: 90px;
  right: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  border: 1px solid #fff;
  background: rgba(71, 71, 71, 0.69);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.mts:hover {
  background-color: black;
  opacity: 0.8;
}

.mts1 {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  width: 263px;
  height: 73px;
  bottom: 100px;
  right: 160px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  border: 1px solid #fff;
  background: rgba(71, 71, 71, 0);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.mts1:hover {
  background-color: black;
  /* color: black; */
  opacity: 0.8;
}

.relative {
  position: relative;
}

.absolute {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.slide {
  position: relative;
}

.slide .slide-wrap {
  width: 100%;
  overflow: hidden;
}

.slide .slide-list {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

.slide .slide-item {
  position: relative;
  width: 100%;
  height: 655px;
  transition: transform 0.15s;
}

.slide .btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.slide .prev {
  margin-top: 45px;
  left: 0px;
}

.slide .next {
  margin-top: 45px;
  right: 0px;
}

.slide .pagination {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 10;
}

.slide .pagination button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.slide .pagination button.active {
  background: black;
}
