* {
  margin: 0;
  padding: 0;
}

body {
  width: 1080px;
  height: 1920px;
  /* border: 2px dashed black; */
}

.figma img {
  /* width: 100px; */
  /* height: 100px; */
  margin-left: 600px;
  margin-bottom: 30px;
}

.menu {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  font-style: normal;
  display: flex;
  width: 100%;
  height: 92px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.homeimg {
  width: 270px;

  display: flex;
  background-image: url(./images/LineupTab.png);
  background-size: cover;
}

.menu a {
  display: flex;
  width: 100%;
  height: 92px;

  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: black;
  /* border: 1px solid rgb(0, 0, 0, 0.1); */
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #393939;
  color: white;
}

.frame {
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.banner-frame {
  justify-content: center;
  background-color: #f8f8fa;
  width: 100%;
  height: 269px;
}

.banner-container {
  /* gap: 20px; */
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 339px;
  /* margin-left: 0px; */
}

.column-center {
  width: 402px;
  background-color: #322d2d;
  transition: all 0.3s;
}
.column-center:hover {
  background-color: #F3F3F5;
}
.column-center:hover > .div-11 {
  color: black;
}

.banner-img {
  width: 339px;
  object-fit: auto;
  object-position: center;
  align-self: stretch;
}

.div-11 {
  width: 402px;
  height: 100%;
  margin-top: 100px;

  color: white;
  transition: all 0.3s;
}

.div-12 {
  text-align: center;
  font: 24px Roboto, sans-serif;
}

.div-13 {
  margin-top: 10px;
  text-align: center;
  font: 42px Roboto, sans-serif;
}

.lineup-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 565px;
  width: 100%;
}

.lineup-thumbnail {
  position: absolute;
  inset: 0;
  height: 566px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.lineup-title {
  position: absolute;
  width: 450px;
  right: 20px;
  top: 40px;
}
.lineup-title2 {
  position: absolute;
  width: 400px;
  left: 20px;
  top: 40px;
}

.lineup-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 565px;
  width: 100%;
  /* padding-top: 57px; */
}

.lineup-exp-frame {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0px;
  width: 100%;
  padding: 20px;
}

.div-18 {
  /* gap: 20px; */
  display: flex;
}

.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  /* width: 79%; */
  width: 800px;
  margin-left: 0px;
  /* border: 5px dotted blue; */
}

.div-19 {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.div-20 {
  font: 500 35px Roboto, sans-serif;
  margin-bottom: 10px;
}


.div-22 {
  font: 400 20px Roboto, sans-serif;
  margin-right: 80px;
}

.detail-button {
  position: absolute;
  top: 35px;
  right: 80px;
  display: flex;
  background-color: #000;
  height: 70px;
  width: 20%;

  transition: all 0.2s ease-in-out;
}

.detail-button:hover {
  background-color: white;
}

.detail-button:hover > .detail-text {
  color: black;
}

.detail-text {
  justify-content: center;
  align-items: center;

  position: relative;
  display: flex;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  font: 600 21px Roboto, sans-serif;
  transition: all 0.2s ease-in-out;
}

.div-29 {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}

.div-30 {
  font: 500 16px Roboto, sans-serif;
}

.div-31 {
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto, sans-serif;
  line-height: 167%;
}

.div-32 {
  font-family: Roboto, sans-serif;
  line-height: 167%;
}

.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 21%;
  margin-left: 20px;
}

.div-33 {
  justify-content: center;
  background-color: #000;
  position: relative;
  flex-grow: 1;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 11px 18px;
  font: 600 21px/67% Roboto, sans-serif;
}

.newly-frame {
  justify-content: center;
  border-radius: 0px 0px 25px 25px;
  background-color: #e9e9e9;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.newly-container {
  justify-content: center;
  width: 100%;
  /* padding: 0 20px; */
  display: flex;
}

.newly-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 360px;
  /* margin-left: 0px; */
}

.div-37 {
  align-self: stretch;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  line-height: 133%;
  justify-content: center;
}

.div-38 {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 1.19;
  width: 100%;
  /* padding-bottom: 80px; */
}

.newly-img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.1s ease-in-out;
}

.new-arrival {
  position: relative;
  font-family: Roboto, sans-serif;
  justify-content: center;
  font-size: 20px;
  border-radius: 0px 0px 6px 0px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 15px 10px 5px;
}

.newly-img:hover {
  transform: scale(1.1);
}
